@import "tailwindcss";

@layer components {
  .container {
    @apply px-4 md:px-6 mx-auto md:!max-w-[102rem];
  }
}

@theme {
  --font-tasa: "Geist", sans-serif;
  --font-numbers : "Chivo", monospace;
}

body {
  @apply font-tasa;
}

.bg-gradient-primary {
  @apply bg-gradient-to-br from-emerald-600 via-green-400 to-lime-500;
}

.bg-gradient-secondary {
  @apply bg-gradient-to-tr from-emerald-600 via-green-400 to-lime-600;
}

.css-button {
  @apply px-5 md:px-6 py-2.5 md:py-3 text-sm cursor-pointer bg-gradient-to-tr from-emerald-600 via-green-500 to-lime-600
  size-fit text-white rounded-full transition-colors duration-300
  md:hover:from-emerald-500 md:hover:via-green-400 md:hover:to-lime-500;
}
